header{
  background-color: rgb(48, 13, 204);
  display: flex;
  align-items: center;
  column-gap: 32px;
  width: 100%;
  max-width: 1000px auto;
  padding-top: 1px;
  padding-bottom: 2px;
  flex-direction: row;
}

.sobreNos, .gastos, .sobreOprojeto, .monitoramento {
  color: azure; /* Cor do texto padrão */
  padding: 10px 20px; /* Espaçamento interno (padding) */
  border: none; /* Remover bordas padrão */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 17px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
}

/* Estilo ao passar o mouse (hover) */
.sobreNos:hover, .gastos:hover, .sobreOprojeto:hover, .monitoramento:hover {
  color: rgb(72, 184, 67); /* Cor do texto ao passar o mouse */
  transition: color 0.3s, color 0.10s;
}

/* Estilo quando o botão é pressionado (active) */
.sobreNos:active, .gastos:active, .sobreOprojeto:active, .monitoramento:active {
  background-color: rgb(13, 48, 204); /* Cor de fundo ao pressionar */
  color: lightgray; /* Cor do texto ao pressionar */
}

.App-logo{
  max-width: 70px;
  margin-bottom: 0;
  margin-left: 100px;
}
.unb-logo{
  max-width: 90px;
  margin-bottom: 0;
  margin-left: 700px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right:300px;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}
